name: fiber_firebase_annotations
description: "A new Flutter project."
version: 1.0.0

environment:
  sdk: ^3.9.2

repository: https://github.com/daf-ep/firebase_annotations

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true